.icon-btn {
  width: 30px;
  height: 30px;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.profile-container {
  max-width: 100vw;
}

.cycling-statistics {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.statistics-list-container {
  text-align: left;
  padding-left: 27%;
}

.statistics-list {
  flex-direction: column;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  overflow-x:hidden;
}


.activities-list {
  min-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.no-activity {
  font-size: 16px;
  color: rgb(0, 0, 148);
}

.underline-link {
  text-decoration: underline;
}