.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style: none;
}


.change-password input {
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    text-align: left;
}

.change-password input:focus {
    border-color: #007bff;
}

.submit-btn {
    width: 320px;
    height: 55px;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #193b87, #3884bf);
    color: white;
    border: none;
    border-radius: 10px;
}

.submit-btn:hover {
    background: #152b5c;
}

.cancel-btn {
    background: red;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    width: 80%;
}

.cancel-btn:hover {
    background: rgb(142, 9, 8);
}