.change-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 24px;
}

.profile-pic-frame {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-file-label {
    display: inline-block;
    padding: 12px 20px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
  }  

.upload-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
    margin-top: 12px;
}

.upload-button {
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #193b87, #3884bf);
    color: white;
    width: 320px;
    height: 55px;
}

.upload-button:hover {
    background: #0c4768;
    transform: scale(1.05);
}

.upload-button.success {
    background-color: #4caf50;
}

.upload-button.success:hover {
    background-color: #3e8e41;
}

.cancel-btn {
    background: red;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    width: 80%;
}

.cancel-btn:hover {
    background: rgb(142, 9, 8);
}