.date-bar-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.date-bar-container {
    flex: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 5px;
}

.date-bar {
    margin-top: 5%;
    display: flex;
    gap: 1%;
}

.date-item {
    padding: 8px 12px;
    background: #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    min-width: 90px;
}

.date-item:hover {
    transform: scale(1.05);
    background: black;
    color: white;
}

.date-item.selected {
    background-color: black;
    color: white;
}

.date-item.today {
    background-color: blue;
    color: white;
    font-weight: bold;
}