.date-bar-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.date-bar-container {
    flex: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 5px;
}

.date-bar {
    overflow-x: auto;
    white-space: nowrap;
}

.date-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #000;
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

.date-item.selected {
    background-color: #000000;
    color: white;
    ;
}


/* Optional: Add hover effect for better UX */
.date-item:hover {
    background-color: #000000;
    color: white;
}


.week-range h4 {
    color: rgb(65, 118, 156);
    gap: 10px;
    font-size: 2rem;
}