.saved-activity-container {
    width: 500px;
    padding: 3%;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin: auto;
    margin-bottom: 20px;
}


.saved-activity-top {
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: fit-content;
    padding-left: 3%;
}

.saved-activity-map {
    background-color: #000000;
    border-radius: 8px;
    height: 250px;
    z-index: 0;
}

.saved-activity-details {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}

.saved-activity-distance p {
    font-size: 20px;
}

.saved-activity-last-used p {
    color: #666;
    font-size: 13px;
}

.start-activity-from-route-btn {
    margin-top: 12%;
}

.start-activity-from-route-btn:hover {
    background-color: #00b803;
}

.unsave-activity-btn {
    width: 40px;
    height: 40px;
}